:root {
    --bg-clr: #008080;
    --tb-clr: #00008b;
    
    --bp-bg1: #0e1218;
    --bp-bg2: #161f34;
    --bp-bg3: #24354d;
    --bg-accent-border: rgb(70, 80, 85);
    --bp-pos: #68911b;
    --bp-cardbg: #071019;
}
@font-face {
    font-family: 'logo';
    src: url('../assets/fonts/logo.woff') format('woff');
}
@font-face {
    font-family: "goofy";
    src: url("../assets/fonts/goofy.ttf") format('truetype');
}
/* @font-face {
    font-family: "Comic Sans MS";
    src: url("../assets/fonts/comic.ttf")format("truetype");
} */
@font-face {
	font-family: 'Motiva Sans';
	src: url('../assets/fonts/motiva.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html * {
    /* font-family: "Comic Sans MS"; */
    /* font-family: "Brush Script MT", cursive; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    image-rendering: pixelated;
    user-select: none;
}

::-webkit-scrollbar {
    width: .5rem;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    outline: 1px outset rgb(167, 167, 167);
    box-sizing: border-box;
    background: #cecece;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgb(155, 155, 155);
    outline: 1px outset rgb(167, 167, 167);
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    background: var(--bg-clr);
    background-size: cover;
    background-position: center;
    transition: .5s;
    overflow: hidden;
}
.window {
    overflow: hidden;
    box-sizing: border-box;
    border: 3px outset #c4c4c4;
    background-image: url("../assets/grid.png");
    background-size: 16px;
    background-repeat: repeat;
    position: absolute;
    resize: both;
    overflow: auto;
    box-shadow: 4px 4px 3px #000000, 0 0 4px #00000050;
    min-width: 18.5dvw;
    min-height: 10dvw;
    display: block;
    transition: .35s;
}
.window nav {
    cursor: move;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 24px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, navy 0%, lightblue 100%);
    border: 2px double #b0b0b0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    transition: .5s;
}
.window nav button {
    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    font-size: .75rem;
    margin: 0;
    padding: 0;
    line-height: 0;
    border-radius: 0;
    background: #eeeeee;
    border: 2px outset #ffffff;
    cursor: pointer;
    transition: .5s;
}
.window nav button:hover {
    transform: scale(110%);
    border-color: darkblue;
}
h1 {
    font-size: x-large;
    margin: 0;
    padding: 0;
}
.window h1 {
    margin-bottom: 20px;
}
p {
    font-size: medium;
}
strong {
    font-weight: bold;
    font-family: "goofy";
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: red !important;
    text-shadow:
        -1px 1px orange,
        -2px 2px yellow,
        -3px 3px green,
        -4px 4px blue,
        -5px 5px purple;
}
wintitle {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: .85rem;
    color: #fff;
    text-shadow: 0 0 2px black;
}
.logo {
    display: inline;
    font-size: xx-large;
    font-family: "logo";
}
sup {
    font-size: 1rem;
    font-family: "logo";
    font-weight: 600;
}
.window .contentHolder {
    height: calc(100% - 24px);
    width: 100%;
    padding: 5vmin;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    resize: both;
    overflow: auto;
    display: block;
}

.ph1 {
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 2rem;
    font-weight: bolder;
}
li {
    font-size: 1.15rem;
    height: auto;
    width: auto;
}
.link {
    color: darkblue;
    cursor: pointer;
}
.link:hover {
    font-weight: 800;
}
.link:active {
    color: purple;
}
iframe {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
    border: none;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    object-fit: contain;
}
#taskbar {
    height: 45px;
    width: 100dvw;
    position: fixed;
    bottom: 0;
    left: 0;
    background: gray;
    border: 2px outset darkgray;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#taskbar .icon {
    height: 100%;
    width: auto;
    background: darkgray;
    border: 3px outset dimgray;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    transition: .5s;
}
#taskbar .icon h1 {
    font-size: 1.05rem;
    font-weight: 400;
    user-select: none;
}
#taskbar .icon img {
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}
#taskbar .icon:hover {
    border-color: darkblue;
    background: dimgrey;
    color: lightgray;
}
#taskbar #start {
    height: 100%;
    width: 100px;
    margin: 0;
    margin-right: 5px;
    box-sizing: border-box;
    font-size: 1.05rem;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgray;
    border: 3px outset dimgray;
    cursor: pointer;
    transition: .5s;
}
#taskbar #start:hover {
    border-color: darkblue;
    background: dimgrey;
    color: lightgray;
}
#taskbar #start #startBtnBean {
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
    object-fit: cover;
    aspect-ratio: .5 / 1;
    display: inline;
    margin-right: .65rem;
}
#startmenu {
    height: 500px;
    width: 350px;
    background: darkgray;
    border: 3px outset dimgray;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 45px;
    position: fixed;
    bottom: 45px;
    /* left: -22dvw; */
    z-index: 295;
    transition: .35s;
}
#startmenu h1 {
    font-size: x-large;
    line-height: 5px;
}
#startmenu p {
    font-size: medium;
    line-height: 1rem;
}
.application {
    height: 3rem;
    width: 100%;
    background: darkgray;
    border: 3px outset dimgray;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.application h1 {
    font-size: 1.05rem;
    font-weight: 400;
    user-select: none;
}
.application img {
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}
.application:hover {
    border-color: darkblue;
    background: dimgrey;
    color: lightgray;
}
#startmenu .sidebar {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(7,0,47,1) 0%, rgba(199,207,255,1) 100%);
}
#startmenu .sidebar h1 {
    font-family: "logo";
    font-weight: 800;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 2rem;
    line-height: 0;
}
#browser-#topbar {
    height: 25px;
    width: 100%;
    background: lightgray;
    border: 3px outset gray;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
#url {
    height: 25px;
    width: 75%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: gray;
    border: 3px outset dimgray;
    box-sizing: border-box;
}
#cmd {
    font-family: 'Courier New', Courier, monospace;
    height: calc(100% - 25px);
    width: 100%;
    box-sizing: border-box;
    background: black;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    color: lightgray;
    overflow-y: scroll;
    line-height: 1rem;
    font-size: 1rem;
    word-wrap: break-word;
    text-wrap: wrap;
}
#runCmd {
    width: 10%;
    height: 25px;
    background: black;
    border: 2px double lightgray;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;
}
#runCmd:hover {
    color: black;
    background: white;
}
#commandInput {
    width: 90%;
    box-sizing: border-box;
    height: 25px;
    background: black;
    border: 2px double lightgray;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
    transition: .5s;
}
#commandInput:hover, #commandInput:focus {
    color: black;
    background: white;
}
error {
    display: inline;
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
}
success {
    display: inline;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}
warn {
    display: inline;
    color: #ff9500;
    font-family: 'Courier New', Courier, monospace;
}
rainbow {
    display: inline;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Courier New', Courier, monospace;
}

#bsod {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 9999;
    display: none;
    user-select: none;
}
#clippy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    height: 1%;
    z-index: 5789;
    display: none;
    transition: 2s;
    user-select: none;
    user-select: none;
}
#topbar {
    height: 20px;
    width: 100%;
    background: rgb(222, 222, 222);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
#editor {
    height: calc(100% - 20px);
    width: 100%;
    background: white;
    position: absolute;
    top: 20px;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1rem;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    text-wrap: wrap;
}
#editor * {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
#topbar a {
    box-sizing: border-box;
    display: block;
    background: #cecece;
    padding: 5px;
    cursor: pointer;
    transition: .5s;
}
#topbar a:hover {
    background: dimgray;
    color: lightgray;
}
#winerror {
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sm-contents { overflow-y: auto;  height: 100%;}
codeblock {
    background: #000000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    text-wrap: wrap !important;
    font-style: normal;
    font-size: .85rem;
    word-wrap: break-word;
}
.item {
    width: 100%;
    height: 125px;
    background: lightgray;
    border: 3px outset gray;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: right;
}
.item h1 {
    margin: 0rem;
    margin-bottom: 2rem;
    padding: 0;
    line-height: 0rem;
    font-size: 2.25rem;
    color: #fff;
    text-shadow: 4px 4px 2px #00000075;
}
.item button {
    background: linear-gradient(180deg, rgba(19,170,62,1) 0%, rgba(96,255,166,1) 50%, rgba(58,232,133,1) 50%, rgba(0,143,62,1) 100%);
    border: 2px outset green;
    box-sizing: border-box;
    padding: 5px 25px;
    cursor: pointer;
    box-shadow: 4px 4px 2px #00000075, inset 0 0 5px rgb(0, 84, 0);
    transition: .5s;
}
.item button:hover {
    transform: translateY(-5px);
    box-shadow: 4px 7px 3px #00000095, inset 0 0 6px white;
    border: 2px outset white;
}
.item .left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: gray;
    height: 100%;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border: 3px double dimgray;
}
#root {
    height: 100%; 
    width: 100%; 
    position: fixed; 
    top: 0; left: 0;
}
.desktopshortcut {
    height: 125px;
    width: 85px;
    background: none;
    position: relative;
    border: none;
    /* background: #b0b0b0; */
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.desktopshortcut:active {
    border: 1px dotted #c4c4c4;
}
.desktopshortcut * {
    margin: 0;
    padding: 0;
    /* user-select: none; */
}
.desktopshortcut img {
    object-fit: contain;
    width: 100%;
}
.desktopshortcut h1 {
    font-size: .7rem;
    height: auto;
    width: 100%;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    font-weight: 400;
}
#desktopwrapper {
    height: calc(100vh - 45px);
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-height: calc(100vh - 45px);
    max-height: calc(100vh - 45px);
    max-width: 100vw;
}
loading {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	/* background-image: url('../assets/loading_img.png'); */
    /* background-size: cover; */
    /* background-repeat: repeat; */
    /* background-position: center; */
    background: #000000;
}
@keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}
.loadingbar {
    position: fixed;
    bottom: 22.5dvh;
    border: 2px outset #a4a4a4;
    left: 50%;
    transform: translateX(-50%);
    height: 25px;
    width: 50dvw;
    text-align: center;
    vertical-align: middle;
    background: -webkit-linear-gradient(
        left,
        #0193CD 30%,
        #66D4E5 80%,
        #0193CD 100%
    ) repeat;
    background-size: 50% 100%;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.loadingbar p {
    padding: 0 !important;
    margin: 0 !important;
    display: inline;
    animation: flash 1s linear infinite;
    text-shadow: 0 0 2.5px #000;
}
@keyframes flash {
    0% {color:red;}
    50% {color:yellow;}
    100% {color:red;}
}
.loadinglogo {
    height: 50dvh;
    width: 65dvw;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: #fff; */
    background-image: url("../assets/beansite_logo_tiny.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px hsla(0, 0%, 100%, 0.75));
}
#lsTips {
    position: fixed;
    bottom: 5dvh;
    left: 50%;
    transform: translateX(-50%);
    width: 25dvw;
    height: 6vmin;
    /* background: #fff; */
    color: #5f5f5f;
    text-align: center;
    vertical-align: middle;
}
.loading_fadeout{
    animation: fadeout 1s forwards;
}
.bootimg_loadingicon {
    position: absolute;
    bottom: -50px;
    height: 25%;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;display:none;}
}
.BeanpoweredMWindow {
    height: auto;
    width: 100%;
    margin: 0;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: var(--bp-bg2);
    --bp-pad: 3.5vmin;
    padding: var(--bp-pad);
    padding-top: calc(50px + var(--bp-pad));
}
.BeanpoweredMWindow .bp_nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: var(--bp-bg3);
}
.bp_nav #bp_logo {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 25%;
    background-image: url(../assets/bp_assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.BeanpoweredMWindow .card_trendinggame {
    /* height: 25vmin; */
    width: 100%;
    aspect-ratio: 2.5 / 1;
    overflow: hidden;
    display: block;
    position: relative;
    background: linear-gradient(45deg, var(--bp-cardbg) 65%, var(--bp-bg1));
    border-radius: 5px;
    border: var(--bg-accent-border) 1px solid;
}
#bp_tg_preview {
    position: absolute;
    height: 100%;
    width: 65%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: gray;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/gbanner/drift.png');
}
#bp_cwrap {
    width: 100%;
    max-width: 100vmin;
    margin: auto;
}
#bp_tg_rs {
    height: 100%;
    width: 35%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vmin;
    box-sizing: border-box;
    /* line-height: 1em; */
    color: #fff;
}
#bp_tg_rs h2 {
    font-size: 1em;
    line-height: 0;
    padding: none;
    margin: none;
    font-family: 'Motiva Sans';
    color: lightgray;
}
#bp_tg_rs h1 {
    font-size: 2em;
    font-family: 'Motiva Sans';
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1em;
    padding: none;
    margin: none;
    overflow: hidden;
}
#bp_tg_rs button {
    width: calc(100% - 2vmin);
    padding: 3px;
    background: var(--bp-pos);
    border: 1px #7ea570 solid;
    font-family: 'Motiva Sans';
    border-radius: 3px;
    color: #fff;
    position: absolute;
    bottom: 1vmin;
    left: 1vmin;
    transition: .35s;
    cursor: pointer;
}
#bp_tg_rs button:hover {
    transform: translateY(-5px);
}
.bp_gameWrapper {
    /* padding: 2px; */
    box-sizing: border-box;
    background: linear-gradient(45deg, var(--bp-cardbg), var(--bp-bg1));
    margin-top: 2vmin;
    border-radius: 5px;
    border: var(--bg-accent-border) 1px solid;
    overflow: hidden;
}
.bp_gcard {
    width: 100%;
    height: 13.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    box-sizing: border-box;
    padding-right: 1vmin;
    /* border-radius: 5px; */
    border-bottom: var(--bg-accent-border) 1px solid;
}
.bp_gcard h1 {
    font-size: 1.75em;
    line-height: 1.25em;
    font-family: 'Motiva Sans';
    width: 45%;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#fff;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.bp_gcard button {
    width: 35%;
    padding: 3px;
    background: var(--bp-pos);
    border: 1px #7ea570 solid;
    font-family: 'Motiva Sans';
    border-radius: 3px;
    color: #fff;
    transition: .35s;
    cursor: pointer;
}
.bp_gcard button:hover {
    transform: translateY(-5px);
}
.bp_gcard_preview {
    height: 100%;
    aspect-ratio: 18 / 9;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#g_slope      {background-image: url('../assets/gbanner/slope.jpg');}
#g_slope2     {background-image: url('../assets/gbanner/slope2.jpg');}
#g_1v1lol     {background-image: url('../assets/gbanner/1v1lol.jpg');}
#g_smashk     {background-image: url('../assets/gbanner/smashk.jpg');}
#g_shells     {background-image: url('../assets/gbanner/shells.jpg');}
#g_2048       {background-image: url('../assets/gbanner/2048.avif');}
#g_doom       {background-image: url('../assets/gbanner/doom.webp');}
#g_eag        {background-image: url('../assets/gbanner/eag.webp');}
#g_ffvii      {background-image: url('../assets/gbanner/ffvii.jpg');}
#g_bloxd      {background-image: url('../assets/gbanner/bloxd.avif');}
#g_xtr        {background-image: url('../assets/gbanner/xtr.png');}
#g_armedf     {background-image: url('../assets/gbanner/armedf.jpg');}
#g_ocarinaot  {background-image: url('../assets/gbanner/ocarinaot.jpg');}
#g_mario      {background-image: url('../assets/gbanner/mario.avif');}
#g_mgclub     {background-image: url('../assets/gbanner/mgclub.avif');}
#g_infinitec  {background-image: url('../assets/gbanner/infinitec.png');}
#g_password   {background-image: url('../assets/gbanner/password.png');}
#g_fnaf1      {background-image: url('../assets/gbanner/fnaf1.jpg');}
#g_hole       {background-image: url('../assets/gbanner/hole.avif');}
#g_ovo        {background-image: url('../assets/gbanner/ovo.avif');background-size: contain !important;background-color:#fff;}
#g_ovo2       {background-image: url('../assets/gbanner/ovo2.jpg');background-size: contain !important;background-color:#fff;}
#g_retrob     {background-image: url('../assets/gbanner/retro.avif');}
#g_doom2      {background-image: url('../assets/gbanner/doom2.jpg');}
#g_subways    {background-image: url('../assets/gbanner/subways.png');}
#g_dr3d       {background-image: url('../assets/gbanner/dr3d.jpg');}
#g_helix      {background-image: url('../assets/gbanner/helix.avif');}
#g_funkin     {background-image: url('../assets/gbanner/funkin.webp');}
#g_dwtd       {background-image: url('../assets/gbanner/dwtd.png');}
#g_tombr      {background-image: url('../assets/gbanner/tombr.png');}
#g_fallout1   {background-image: url('../assets/gbanner/fallout1.jpg');}
#g_fallout2   {background-image: url('../assets/gbanner/fallout2.jfif');}
#g_burritobll {background-image: url('../assets/gbanner/burritobll.jpg');}
#g_totm       {background-image: url('../assets/gbanner/totm.jpg');}
#g_drivem     {background-image: url('../assets/gbanner/drivem.jpg');}
#g_run3       {background-image: url("../assets/gbanner/run3.webp");}
#g_celeste    {background-image: url("../assets/gbanner/celeste.jpeg");}
#g_jpjr       {background-image: url("../assets/gbanner/jpjr.png");}
#g_frnin      {background-image: url("../assets/gbanner/frnin.png");}
#g_flappy     {background-image: url("../assets/gbanner/flappy.png");}
#g_pokered    {background-image: url("../assets/gbanner/pokered.jpg");}
#g_pokeblue   {background-image: url("../assets/gbanner/pokeblue.jpg");}
#g_streetftr  {background-image: url("../assets/gbanner/streetftr.jpg");}
#g_fancade    {background-image: url("../assets/gbanner/fancade.webp");}

.settingsDropdown {
    background: lightgray
}
#closeconfirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100dvh;
    width: 100dvw;
    z-index: 993;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5vmin;
    color: #fff;
}
#closeconfirm p {
    width: 100vmin;
    color: #9e9e9e;
}
#closeconfirm h1 {
    width: 100vmin;
    color: #e8e8e8;
    font-size: 2.35rem;
}
#closeconfirm button {
    width: 25vmin;
    padding: .5vmin 0;
    margin-top: 3vmin;
    margin-right: 75vmin;
    border: 2px outset gray;
    background: lightgray;
    cursor: pointer;
    /* transition: .35s; */
}
.bp_reqtxt {
    text-align: center;
    color: #b6b6b6;
    font-family: 'Motiva Sans';
}
.bp_reqtxt a {
    text-align: center;
    color: #00a2ff;
    font-family: 'Motiva Sans';
}